@model Frontend_Grupparbete.Models.MixItUpViewModel
@{
    ViewBag.Title = "MixItUp";
}


<div id="Container" ng-controller="homeController">
    <h2>User Database with MixItUp!</h2>
    <p>
        Here you can play around with all the users.<br />
        Have Fun!
    </p>

    <div id="buttons" class="col-md-2 col-lg-2">
        <div id="sorting">
            <h3>Sorting</h3>


            <select id="SortSelect" class="form-controll input-sm" style="width:100%">
                <option value="name">First Name</option>
                <option value="lastname">Last Name</option>
                <option value="email">Email</option>
                <option value="income">Income</option>
                <option value="profession">Profession</option>
            </select>

            <div id="asc" class="btn btn-sm btn-primary active" style="margin: 2px; width: 100%" onclick="setDirection('asc')" >Ascending</div>
                <div id="desc" class="btn btn-sm btn-primary" style="margin: 2px; width: 100%" onclick="setDirection('desc')">Descending</div>


            <div class="sort btn btn-default btn-sm" style="margin: 2px; width: 100%" data-sort="random">Randomize!</div>


        </div>

        <div id="filtering">
            <h3>Filters</h3>

            @Html.DropDownList("Profession", Model.Professions, new{Id = "FilterList", @class="form-controll input-sm", style="width:100%" })
        </div>

    </div>

    <div id="items" class="col-md-10 col-lg-10">
        <h3>Users</h3>
        <div class="col-lg-6 col-sm-12 col-md-8 itemContainer">
            @foreach (var p in Model.Users)
            {
                <div class="mix modal-content @p.Profession" ng-click="showUpdateUserForm(@p.Id)" data-income="@p.Income" data-name="@p.FirstName" data-email="@p.Email" data-lastname="@p.LastName" data-profession="@p.Profession">
                    <div class="iconContainer">
                            <img class="icon" src="/content/images/@(p.Profession).jpg" alt="profession icon" onerror="this.src = '/content/images/placeholder.jpg';"/>
                        </div>
                    <div class="userInfoContainer">
                        <table style="width:100%">
                            <tr>
                                <td style="width: 60px"><b>Name</b></td>
                                <td style="text-align: left">@p.FirstName @p.LastName</td>
                            </tr>
                            <tr>
                                <td style="width:60px"><b>Email</b></td>
                                <td style="text-align: left"><span class="glyphicon glyphicon-envelope"></span> @p.Email</td>
                            </tr>
                            <tr>
                                <td style="width:60px"><b>Income</b></td>
                                <td style="text-align: left"><span class="glyphicon glyphicon-euro"></span> @p.Income </td>
                            </tr>
                        </table>
                    </div>
                </div>
            }
        </div>

    </div>

</div>



<script src="~/Scripts/jquery.mixitup.js"></script>
<script>
    $(function () {
        $('#Container').mixItUp();
        $('#FilterList').change(function () {
            filter($('option:selected', this).val());
        });
        $('#SortSelect').change(function () {
            sort();
        });
    });

    function manage(id) {
        window.location.href = "@(Url.Action("Manage","Login"))?id=" + id;
    }
    function setDirection(dir) {
        $('.btn').removeClass("active");
        $('#'+dir).addClass('active');
        sort();

    }
    function sort() {
        var dir = "desc";
        if ($('#asc').hasClass('active')) {
            dir = "asc";
        }
        var st = $('#SortSelect').val() + ':' + dir;
        $('#Container').mixItUp('sort', st);
    }
    function filter(profession) {
        if (profession === "All")
            $('#Container').mixItUp('filter', 'all');
        else
            $('#Container').mixItUp('filter', '.' + profession);
    }
</script>