@model Frontend_Grupparbete.Models.MixItUpViewModel
@{
    ViewBag.Title = "MixItUp";
}
<div>

</div>

<style>
    .mix {
        margin: 10px;
        padding: 5px;
        display: none;
    }

    .sort {
        margin: 5px 0 5px 0;
    }
    select {
        margin: 3px;
    }
</style>


<div id="Container">
    <h2>User Database with MixItUp!</h2>
    <p>
        Here you can play around with all the users.<br />
        Have Fun!
    </p>
    <h3>Settings</h3>
    <div id="buttons" class="col-md-12 alert-info alert">
        <div id="sorting">

            <div class="col-md-2">
                <b>Sorting: </b>
            </div>
            <div class="col-md-10">
                <div class="sort btn btn-warning btn-xs" data-sort="default">Default</div>
                <div class="sort btn btn-warning btn-xs" data-sort="random">Random</div>
            </div>

            <div class="col-md-2">
                <b>Sort By:</b>
            </div>
            <div class="col-md-10">
                <Select id="SortSelect">
                    <option value="name">First Name</option>
                    <option value="lastname">Last Name</option>
                    <option value="email">Email</option>
                    <option value="salary">Income</option>
                    <option value="Profession">First Name</option>
                </Select>
                <select id="SortDirection">
                    <option value="asc">Ascending</option>
                    <option value="desc">Descending</option>
                </select>
            </div>
        </div>

        <div id="filtering">
            <div class="col-md-2">
                <b>Filter by Profession</b>
            </div>
            <div class="col-md-10">
                @Html.DropDownList("Profession", Model.Professions, new { Id = "FilterList" })
            </div>
            

        </div>

    </div>
    <h3>Users</h3>
    <div id="items" class="col-md-12 alert alert-info">
        @foreach (var p in Model.Users)
        {
            <div class="mix @p.Profession btn-danger" data-salary="@p.Income" data-name="@p.FirstName" data-email="@p.Email" data-lastname="@p.LastName" data-profession="@p.Profession">
                <b>Name:</b> @p.FirstName @p.LastName<br />
                <b>Email:</b> @p.Email<br />
                <b>Profession:</b> @p.Profession<br />
                <b>Income:</b> @p.Income
            </div>
        }
    </div>

</div>



<script src="~/Scripts/jquery.mixitup.js"></script>
<script>
    $(function () {
        $('#Container').mixItUp();
        $('#FilterList').change(function () {
            filter($('option:selected', this).val());
        });
        $('#SortSelect').change(function() {
            sort();
        });
        $('#SortDirection').change(function () {
            sort();
        });
    });

    function sort() {
        var st = $('#SortSelect').val() + ':' + $('#SortDirection').val();
        $('#Container').mixItUp('sort',st );
    }

    function filter(profession) {
        if (profession === "All")
            $('#Container').mixItUp('filter', 'all');
        else
            $('#Container').mixItUp('filter', '.'+profession);
    }
</script>