@using System.Globalization
@model Frontend_Grupparbete.Models.Weather.CurrentlyWeather


<style>
    #currently-image-wrapper {
        background-image: url("../../Content/WeatherImages/@Model.WeatherImage");
    }

    .currently-inline-icon {
        display: inline-flex; vertical-align: middle;
        font-size: 2em;
    }
    .currently-inline-span {
        display: inline-flex;vertical-align: middle;
    }
    #currently-right-col div:first-child {
        padding-top: 10px;
    }
    #currently-right-col div {
        padding-bottom: 10px;
        text-align: left;
    }
    @@media (max-width: 768px) {
        #currently-right-col div {
            text-align: center;
        }
    }

    #currently-wrapper {
        text-align:center;
        padding-bottom: 20px;
    }
</style>

<div class="image-wrapper" id="currently-image-wrapper"></div>
<div id="currently-wrapper">
    <div class="row">
        <div class="col-md-12">
            @* Day - Date - Time *@
            <h2 style="margin-top:10px;">@Model.Time.ToString("dddd", new CultureInfo("en-US"))</h2>
            <h3 style="margin-top:10px;">@Model.Time.ToShortDateString()  @Model.Time.ToString("t")</h3>
            @* Summary *@
            <h4 style="font-style: italic;">@Model.Summary</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @* Icon *@
            <div style="font-size: 8em;">
                <span class="wi @Model.Icon"></span>
            </div>
        </div>

        <div class="col-md-6" id="currently-right-col">
            @* Temperature + apparent temperature *@
            <div data-toggle="tooltip" data-placement="left" title="Actual temperature">
                <span class="wi wi-thermometer currently-inline-icon"></span>&nbsp;
                <span class="currently-inline-span">(actual) @Math.Round(Model.Temperature) &deg;C</span>
            </div>
            <div data-toggle="tooltip" data-placement="left" title="Apparent temperature">
                <span class="wi wi-thermometer currently-inline-icon"></span>&nbsp;
                <span class="currently-inline-span">(apparent) @Math.Round(Model.ApparentTemperature) &deg;C</span>
            </div>

            @* Cloudcover *@
            <div data-toggle="tooltip" data-placement="left" title="Cloud cover">
                <span class="wi wi-cloud currently-inline-icon"></span>&nbsp;
                <span class="currently-inline-span">@String.Format("{0:P0}", Model.CloudCover)</span>
            </div>

            @* Precipitation (probability) *@
            @{
                var precipTooltip = Model.Temperature >= 0 ? "Rain" : "Snow";
            }
            <div data-toggle="tooltip" data-placement="left" title="@precipTooltip">
                <span class="wi wi-umbrella currently-inline-icon"></span>&nbsp;
                <span class="currently-inline-span">@Math.Round(Model.PrecipIntensity, 1) mm/h (@String.Format("{0:P0}", Model.PrecipProbability))</span>
            </div>

            @* Wind + bearing *@
            <div data-toggle="tooltip" data-placement="left" title="Wind">
                <span class="wi wi-strong-wind currently-inline-icon"></span>&nbsp;
                <span class="currently-inline-span">@Model.WindSpeed m/s </span>&nbsp;
                <span class="wi @Model.WindBearingIcon currently-inline-icon"></span>
            </div>
        </div>

    </div>



    @*<div class="row"><hr/></div>


        <div class="row">
            <div class="col-md-3">
                <div class="row" style="margin-top: 0;">
                    <div class="col-md-7">
                        <h3 data-toggle="tooltip" data-placement="left" title="@Model.Time.ToShortDateString()">@Model.Time.ToString("t")</h3>
                    </div>
                    <div class="col-md-5">
                        <div class="font-2-em" data-toggle="tooltip" data-placement="left" title="@Model.Summary"><span class="wi @Model.Icon weathericon-hourly"></span></div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div data-toggle="tooltip" data-placement="left" title="Actual temperature"><span class="wi wi-thermometer"></span> (actual) <span>@Math.Round(Model.Temperature) &deg;C</span></div>

                <div data-toggle="tooltip" data-placement="left" title="Apparent temperature"><span class="wi wi-thermometer"></span> (apparent) <span>@Math.Round(Model.ApparentTemperature) &deg;C</span></div>

            </div>
            <div class="col-md-2">
                <div class="font-2-em" data-toggle="tooltip" data-placement="left" title="Cloud cover"><span class="wi wi-cloud"></span> <span>@String.Format("{0:P0}", Model.CloudCover)</span></div>
            </div>
            <div class="col-md-2">

                @{
                    var precipTooltip = Model.Temperature >= 0 ? "Rain" : "Snow";
                }
                <div data-toggle="tooltip" data-placement="left" title="@precipTooltip" style="line-height: 2em;">
                    <span class="wi wi-umbrella font-2-em" style="display: inline-flex; vertical-align: middle;"></span>&nbsp;
                    <span style="display: inline-flex;vertical-align: middle;">@Math.Round(Model.PrecipIntensity, 1) mm/h (@String.Format("{0:P0}", Model.PrecipProbability))</span>
                </div>

            </div>
            <div class="col-md-3">
                <div data-toggle="tooltip" data-placement="left" title="Wind" style="line-height: 2em;">
                    <span class="wi wi-strong-wind font-2-em" style="display: inline-flex; vertical-align: middle;"></span>&nbsp;
                    <span style="display: inline-flex;vertical-align: middle;">@Model.WindSpeed m/s </span>&nbsp;
                    <span class="wi @Model.WindBearingIcon hourly-2xfont" style="display: inline-flex; vertical-align: middle;"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <hr />
        </div>*@
</div>