@using System.Globalization
@model Frontend_Grupparbete.Models.Weather.DailyWeather

<div class="center-day-and-icon">
    <div data-toggle="tooltip" data-placement="bottom" title="@Model.Time.ToShortDateString()">
        @if (Model.Time.Date.Equals(DateTime.Now.Date))
        {
            <h4>Today</h4>
        }
        else if (Model.Time.Date.Equals(DateTime.Now.AddDays(1).Date))
        {
            <h4>Tomorrow</h4>
        }
        else
        {
            <h4>@Model.Time.ToString("dddd", new CultureInfo("en-US"))</h4>
        }
    </div>

    <div data-toggle="tooltip" data-placement="bottom" title="@Model.Summary"><span class="wi @Model.Icon weathericon"></span></div>
</div>
<hr/>
<div data-toggle="tooltip" data-placement="left" title="Max temperature"><span class="wi wi-thermometer"></span> <span>@Math.Round(Model.TempMax) &deg;C (@Model.TempMaxTime.ToString("HH:mm"))</span></div>

<div data-toggle="tooltip" data-placement="left" title="Min temperature"><span class="wi wi-thermometer-exterior"></span> <span>@Math.Round(Model.TempMin) &deg;C (@Model.TempMinTime.ToString("HH:mm"))</span></div>

<hr/>

<div class="font-1-5-em" data-toggle="tooltip" data-placement="left" title="Cloud cover"><span class="wi wi-cloudy"></span> <span>@String.Format("{0:P0}", Model.CloudCover)</span></div>

<hr/>
<div>
    @Html.LabelFor(m => m.PrecipIntensity) <span>@Model.PrecipIntensity mm/h (max @Model.PrecipIntensityMax mm/h)</span>
</div>

<div>@Html.LabelFor(m => m.PrecipProbability) <span>@String.Format("{0:P0}", Model.PrecipProbability)</span></div>

<hr/>
<div>@Html.Label("Wind") <span>@Model.WindSpeed m/s </span><span class="wi @Model.WindBearingIcon"></span></div>

<hr/>
<div class="font-1-5-em" data-toggle="tooltip" data-placement="left" title="Sunrise"><span class="wi wi-sunrise"></span> @Model.SunriseTime.ToString("HH:mm")</div>

<div class="font-1-5-em" data-toggle="tooltip" data-placement="left" title="Sunset"><span class="wi wi-sunset"></span> @Model.SunsetTime.ToString("HH:mm")</div>
<hr/>
<div class="font-1-5-em">@Html.Label("Moon") <span class="wi @Model.MoonIcon"></span></div>


































</div>