@using System.Globalization
@model Frontend_Grupparbete.Models.Weather.DailyWeather

<style>
    #daily-image-wrapper-@Model.Time.Ticks {
        background-image: url("../../Content/WeatherImages/@Model.WeatherImage");
    }
</style>


<div class="image-wrapper" id="daily-image-wrapper-@Model.Time.Ticks"></div>
<div class="daily-div">
    <div>
        <div data-toggle="tooltip" data-placement="left" title="@Model.Time.ToShortDateString()">
            @if (Model.Time.Date.Equals(DateTime.Now.Date))
            {
                <h4>Today</h4>
            }
            else if (Model.Time.Date.Equals(DateTime.Now.AddDays(1).Date))
            {
                <h4>Tomorrow</h4>
            }
            else
            {
                <h4>@Model.Time.ToString("dddd", new CultureInfo("en-US"))</h4>
            }
        </div>

        <div data-toggle="tooltip" data-placement="bottom" class="tooltip-bottom" title="@Model.Summary"><span class="wi @Model.Icon weathericon"></span></div>
    </div>
    <hr />
    <div data-toggle="tooltip" data-placement="left" title="Max temperature"><span class="wi wi-thermometer"></span> <span>@Math.Round(Model.TempMax) &deg;C (@Model.TempMaxTime.ToString("HH:mm"))</span></div>

    <div data-toggle="tooltip" data-placement="left" title="Min temperature"><span class="wi wi-thermometer-exterior"></span> <span>@Math.Round(Model.TempMin) &deg;C (@Model.TempMinTime.ToString("HH:mm"))</span></div>

    <hr />

    <div class="font-1-5-em" data-toggle="tooltip" data-placement="left" title="Cloud cover"><span class="wi wi-cloud"></span> <span>@String.Format("{0:P0}", Model.CloudCover)</span></div>

    <hr />

    @{
        var precipTooltip = "Precipitation";
        if (Model.TempMin >= 0)
        {
            precipTooltip = "Rain";
        }
        else if (Model.TempMax < 0)
        {
            precipTooltip = "Snow";
        }
    }
    <div data-toggle="tooltip" data-placement="left" title="@precipTooltip">
        <span class="wi wi-umbrella"></span>&nbsp;
        <span>@Math.Round(Model.PrecipIntensity, 1) mm/h</span>
        <div>max @Math.Round(Model.PrecipIntensityMax, 1) mm/h</div>
        <div>probability @String.Format("{0:P0}", Model.PrecipProbability)</div>
    </div>

    <hr />
    <div data-toggle="tooltip" data-placement="left" title="Wind">
        <span class="wi wi-strong-wind"></span>
        <span> @Model.WindSpeed m/s </span><span class="wi @Model.WindBearingIcon"></span>
    </div>

    <hr />
    <div>
        <div class="font-1-5-em" data-toggle="tooltip" data-placement="left" title="Sunrise"><span class="wi wi-sunrise"></span> @Model.SunriseTime.ToString("HH:mm")</div>

        <div class="font-1-5-em" data-toggle="tooltip" data-placement="left" title="Sunset"><span class="wi wi-sunset"></span> @Model.SunsetTime.ToString("HH:mm")</div>

        <div class="font-1-5-em" data-toggle="tooltip" data-placement="left" title="Moon phase"><span class="wi @Model.MoonIcon"></span></div>
    </div>
    <hr />
</div>